$green: #57ad68;
$black: #000;
$footfontSize: 12px;
$footfontCol: #666666;


*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $black;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 105px;
    box-shadow: 0 3px 3px #eee;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
    background: #fff;
    div{
        width: 1100px;
        margin: 0 auto;
        overflow: hidden;
    }
    .logo{
        float: left;
        width: 5em;
        height: 36px;
        margin-top: 30px;
        background: url(../img/head-logo.png);
    }
    ul{
        float: left;
        padding: 0 5em;
        li{
            float: left;
            height: 105px;
            line-height: 105px;
            padding: 0 1.2em;
        }
        li:hover{
            background: #eee;
        }
        li:first-child{
            background: #eee;
            border-bottom: 3px solid #000;
        }
        a{
            color: $black;
            font-size: 1.2em;
        }
    }
    .quan1{
        margin: 30px 0 0 18em;
        display: inline-block;
        width: 44px;
        height: 44px;
        border: 1px solid $green;
        border-radius: 50%;
    }
    .quan2{
        margin: 5px 1.2em;
        width: 38px;
        height: 38px;
        background: $green;
        border-radius: 50%;
        margin: 2px;
        img{
            margin: 9px;
            width: 19px;height: 20px;
        }
    }
    button{
        margin-top: 30px;
        float: right;
        width: 7em;
        height: 50px;
        border: 1px solid rgba(120,188,133,0.5);
        border-radius: 25px;
        color: $green;
        background: #fff;
    }
}
.btn:hover{
    background: $green;
    color: #fff;
}

section{
    width: 100%;
    margin: 105px 0 0 0;
    background-color: rgba(245,245,245,.5);
    div{
        width: 1100px;
        margin: 0 auto;
        padding-top: 30px;
        overflow: hidden;
        img{
            display: inline-block;
            width: 240px;height: 240px;
            overflow: hidden;
            -webkit-transition: -webkit-transform 500ms ease-in 0s;
            transition: transform 500ms ease-in 0s;
        }
        .img1{
            width: 480px;height: 480px;
            -webkit-transition: -webkit-transform 500ms ease-in 0s;
            transition: transform 500ms ease-in 0s;
        }
    }
    .divB{
        padding-top: 0;
        width: 100%;
        background: url(../img/bgImg.png) no-repeat;
    }
    .ul1{
        margin-left: 70px;
        li{
            float: left;
            overflow: hidden;
        }
        a{
            float: left;
            height: 240px;
        }
        .a1{
            float: left;
            height: 480px;
        }
        .liB{
            position: relative;
            width: 480px;height: 480px;
        }
        .liS{
            position: relative;
            width: 240px;height: 240px;
            p{
                position: absolute;
                top: 0;left: 0;
                width: 100%;
                height: 240px;
                line-height: 240px;
                text-align: center;
                color: #FFFFFF;
                font-size: 1.1em;
                background: rgba(0,0,0,.5);
                display: none;
            }
        }
        .pB{
            width: 100%;
            height: 80px;
            line-height: 80px;
            text-align: center;
            color: #fff;
            font-size: 1.1em;
            position: absolute;
            top: 400px;left: 0px;
            z-index: 10;
            background: rgba(0,0,0,.5);
            display: none;
        }
        .liB:hover .pB{
            display: block;
        }
        .liS:hover p{
            display: block;
        }
        .liB:hover img{
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
        .liS:hover img{
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

.p1{
    margin-top: 20px;
    margin-left: 70px;
    overflow: hidden;
   img{
       float: left;
       width: 20px;height: 20px;
       margin-right: 15px;
   } 
}
.secDiv1{
    .ul2{
        margin: 0 70px;
        .li1{
            background: #fff;
            border: 1px solid #ddd;
            margin: 20px 0;
        }
    }
    .ul3{
        overflow: hidden;
        li{
            float: left;
            border: 0;
//          margin-bottom: 20px;
        }
        .left{
            width: 66.9%;
            padding-left: 20px;
            h2{
                margin: 10px 0;
            }
            p{
                margin: 10px 0;
                span{
                    color: $green;
                }
                img{
                    width: 10px;height: 10px;
                }
            }
            .foot{
                margin-top: 70px;
                color: #aaa;
            }
            a:hover{
                color: $green;
            }
        }
        .right{
            width: 33%;
            overflow: hidden;
            a{
                float: left;
                height: 240px;
            }
            img{
                width: 316.13px;
            }
        }
    }
}

.ul4{
    overflow: hidden;
    margin: 30px 70px;
    li{
        float: left;
        width: 470px;
        border: 1px solid #ddd;
        background: #fff;
        img{
            width: 467px;
        }
        h2,p,hr{
//          display: inline-block;
            margin: 20px;
        }
        hr{
            color: #ddd;
        }
        p{
            font-size: 0.8em;
            overflow: hidden;
        }
        span{
            color: $green;
        }
        .img2{
            width: 10px;height: 10px;
        }
        .left{
            float: left;
            color: #aaa;
        }
        .right{
            float: right;
            color: #aaa;
        }
    }
    li:first-child{
        margin-right: 10px;
    }
    li:last-child{
        margin-left: 10px;
    }
}

.ul5{
    overflow: hidden;
    margin: 30px 70px;
    li{
        float: left;
        width: 298px;
        border: 1px solid #ddd;
        margin: 0 11px;
        background: #fff;
        overflow: hidden;
        .img3{
            width: 298px;height: 300px;
            -webkit-transition: opacity 500ms ease-in 0s,-webkit-transform 500ms ease-in 0s;
            transition: opacity 500ms ease-in 0s,transform 500ms ease-in 0s;
        }
        h2,p{
            margin: 10px;
        }
        p{
            font-size: 0.8em;
        }
        .big{
            position: relative;
            width: 298px;height: 300px;
            margin: 0 0 20px 0;
            background: #000;
            overflow: hidden;
        }
        .img{
            position: absolute;
            top: 0px;left: 0px;z-index: 10;
            width: 100px;height: 100px;
            margin: 100px 99px;
            display: none;
        }
    }
    li:first-child{
        margin-left: 0;margin-right: 22px;
    }
    li:last-child{
        margin-left: 22px;margin-right: 0;
    }
    p:hover img{
        opacity: 0.6;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    p:hover .img{
        display: block;
    }
}

.ul6{
    overflow: hidden;
    margin: 30px 70px;
    >li{
        float: left;
        width: 230px;
        height: 235px;
        margin-left: 10px;
//      border: 1px solid #ddd;
        background: url(../img/user-bg.png);
        ul{
            width: 180px;
            margin: 43px 0 0 20px;
        }
        .yuan{
//          display: inline-block;
            width: 80px;height: 80px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 80px;height: 80px;
            }
        }
        .bo{
            margin: 10px 0 0 15px;
            width: 52px;height: 19px;
        }
        li{
            float: left;
            width: 90px;
        }
        b,p{
            margin: 10px 5px;
            color: #333;
        }
        p{
            font-size: 0.8em;
        }
    }
    >li:first-child{
        margin-left: 0;
    }
}

.secDiv5{
    p{
        width: 192px;height: 57px;
        line-height: 49px;
        border: 1px solid $green;
        border-radius: 28.5px;
        margin: 30px 394px;
    }
    button{
        width: 180px;height: 45px;
        background: $green;
        border: 0;
        border-radius: 22.5px;
        margin: 5px;
        color: #fff;
        box-shadow: 0 3px 3px #84C29D;
    }
}

.login{
    width: 500px;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 301;
    margin: 0 -250px 0 -250px;
    background: url(../img/login-bg.png);
    display: none;
    .p2{
        width: 100%;
        text-align: center;
        margin-top: 138px;
    }
    ul{
        width: 100%;
        margin: 73px 0 27px 0;
        overflow: hidden;
        li{
            float: left;
            width: 50%;
            text-align: center;
            color: #AAAAAA;
            cursor: pointer;
            font-size: 1.2em;
        }
        li:hover{
            color: #000;
        }
        li:first-child{
            color: #000;
        }
    }
    div{
        width: 100%;
        height: 272px;
        padding: 10px 110px;
        display: none;
        input{
            width: 270px;
            height: 33px;
            margin: 20px 5px;
            border: 0;
            border-bottom: 1px solid #aaa;
        }
        p{
            width: 100%;
        }
        span{
            float: right;
            color: #AAAAAA;
            font-size: 0.8em;
            cursor: pointer;
        }
        span:hover{
            color: $green;
        }
        button{
            width: 172px;height: 46px;
            margin: 40px 54px;
            border: 1px solid #84C29D;
            border-radius: 23px;
            color: $green;
            background: none;
            font-size: 1.2em;
        }
        button:hover{
            background: $green;
            color: #fff;
        }
        .bg{
            width: 134px;height: 212px;
            margin: 25px auto;
            background: url(../img/wechat-bg.png); 
        }
        img{
            width: 92px;height: 92px;
            margin: 70px 0 0 21px;
        }
    }
    .show{
        display: block;
    }
}

.top{
    display: inline-block;
    width: 80px;height: 80px;
    line-height: 80px;text-align: center;
    border-radius: 50%;
    background: #bbb;
    position: fixed;
    right: 20px;bottom: 10px;
    font-size: 1.4em;
    color: #333;
    cursor: pointer;
    display: none;
}
.top:hover{
    color: #fff;
    background: $green;
}

.close{
    position: fixed;
    top: 0px;right: 10px;z-index: 301;
    cursor: pointer;
    display: none;
}


footer{
    margin-top: 30px;
    background: $black;
    .foot{
        width: 1100px;
        margin: 0 auto;
        height: 120px;
    }
    .footLeft{
        float: left;
        font-size: $footfontSize;
        color: $footfontCol;
        img{
            width: 105px;
            height: 50px;
            margin-top: 35px;
            float: left;
        }
        .about{
            float: left;
            height: 120px;
            margin-left: 2em;
            padding: 36px 0;
        }
        ul{
            overflow: hidden;
        }
        li{
            float: left;
            padding: 10px;
        }
        a{
            color: $footfontCol;
        }
        p{
            padding-left: 10px;
        }
    }
    .footRig{
        float: right;
        img{
            width: 44px;
            height: 44px;
            margin: 38px 10px 0;
        }
        img:nth-child(4){
            width: 86px;
        }
        
    }
}


